.img
{
	display: inline-block;
}
.anh3
{
	display: inline-block;

}
.footer{
	background-color: #ccc;
	margin-top: 100px;
	height: 500px;
	
}
#continer
{
	width:968px;
	margin: 0 auto;
}
.head{
	border-bottom: 10px;
	border-color: black;
	margin: 0 auto;
	cursor:pointer;
}
.header{
	border-bottom: 1px solid #ccc;
	height: 130px;
}
.hh{
	margin-top: 40px;
	float:right;
}
.button{
	cursor:pointer;
}
#center{
	border-bottom: 1px solid #ccc;
	height: 400px;
}
#title3b
{
	margin: 0px 0px 20px 0px;
}
.text3a
{
	font-family: Helvetica;
	font-size:15px;
	font-weight: 500;
	color: #999999;
	line-height: 25px;

}
.text3b
{
	font-family: Helvetica;
	font-size:15px;
	font-weight: 500;
	color: #999999;
	margin: 35px 0px 0px 0px;
	line-height: 25px;
}
#aboutme
{
	display: inline-block;
	margin: 30px 0px 0px 0px;
}
#whatnew
{
	display: inline-block;
}
.text4
{
	text-decoration: none;
	font-family: Helvetica;
	font-size:18px;
	font-weight: bold;
	color: black;
}
.weddesign
{
	text-decoration: none;
	color: red;
	font-size: 13px;
	font-weight: 500px;
	font-family: Helvetica;
}
.title
{	
	width: 968px;
}
.January
{
	color: #999999;
}
a
{
	text-decoration: none;
}
.endpage
{
	float: right;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	font-family: Helvetica;
	cursor:pointer;
}
#end{
	height: 300px;
}